/* krds:plugin css */
@import "@/resources/krds/css/plugin/swiper-bundle.min.css";

/* krds:css */
@import "@/resources/krds/scss/common/common.css";
@import "@/resources/krds/scss/component/output.css";
@import "@/resources/krds/scss/component/component.css";
@import "@/resources/krds/scss/pattern/p_layout.css";

/* css 추가시 아래 추가 */

.main-vban-wrap .vb-swiper .swiper-slide .im.images {
  height: 90%;
  overflow: hidden;
  position: relative;
  border-radius: 25px;
}

.main-vban-wrap .vb-swiper .swiper-slide .im.images img {
  width: auto;
  max-width: 80rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.flex_justify {
  justify-content: space-between;
}
